# API to convert all currencies to EURO

In [2]:
import pandas as pd

In [3]:
df2 = pd.read_csv("PM_extract_Jan_2025_10_brands.csv",sep=';')
df2.head()
df2['currency'].unique()

array(['AED', 'CHF', 'CNY', 'EUR', 'GBP', 'HKD', 'JPY', 'KRW', 'TWD',
       'USD', 'SGD'], dtype=object)

In [4]:
import requests

API_KEY = "de4fccc91b67e21b692e0af1"  # Replace with your actual API key
BASE_CURRENCY = "EUR"

# Function to get exchange rates
def get_exchange_rates():
    url = f"https://v6.exchangerate-api.com/v6/{API_KEY}/latest/{BASE_CURRENCY}"
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        return data['conversion_rates']
    else:
        print("Error fetching exchange rates:", response.status_code)
        return None

# Fetch exchange rates
exchange_rates = get_exchange_rates()
exchange_rates

{'EUR': 1,
 'AED': 3.8497,
 'AFN': 76.739,
 'ALL': 99.0234,
 'AMD': 415.8668,
 'ANG': 1.8763,
 'AOA': 976.5207,
 'ARS': 1110.1671,
 'AUD': 1.6484,
 'AWG': 1.8763,
 'AZN': 1.7822,
 'BAM': 1.9558,
 'BBD': 2.0965,
 'BDT': 127.3382,
 'BGN': 1.9558,
 'BHD': 0.3941,
 'BIF': 3110.8228,
 'BMD': 1.0482,
 'BND': 1.4054,
 'BOB': 7.2489,
 'BRL': 5.9762,
 'BSD': 1.0482,
 'BTN': 91.0211,
 'BWP': 14.4912,
 'BYN': 3.4238,
 'BZD': 2.0965,
 'CAD': 1.4873,
 'CDF': 2998.4167,
 'CHF': 0.9443,
 'CLP': 987.3428,
 'CNY': 7.6127,
 'COP': 4317.3687,
 'CRC': 530.7876,
 'CUP': 25.1577,
 'CVE': 110.265,
 'CZK': 25.0529,
 'DJF': 186.2938,
 'DKK': 7.4596,
 'DOP': 65.1292,
 'DZD': 141.2608,
 'EGP': 53.0409,
 'ERN': 15.7236,
 'ETB': 134.7259,
 'FJD': 2.4075,
 'FKP': 0.8312,
 'FOK': 7.4601,
 'GBP': 0.8312,
 'GEL': 2.9589,
 'GGP': 0.8312,
 'GHS': 16.2877,
 'GIP': 0.8312,
 'GMD': 76.1142,
 'GNF': 9032.69,
 'GTQ': 8.0858,
 'GYD': 219.5451,
 'HKD': 8.1545,
 'HNL': 26.7221,
 'HRK': 7.5345,
 'HTG': 137.2157,
 'HUF': 401.6232,
 'IDR': 16993.149,
 'ILS': 3.7286,
 'IMP': 0.8312,
 'INR': 91.0124,
 'IQD': 1372.1568,
 'IRR': 44655.1056,
 'ISK': 147.0047,
 'JEP': 0.8312,
 'JMD': 165.5056,
 'JOD': 0.7432,
 'JPY': 158.753,
 'KES': 135.5148,
 'KGS': 91.6502,
 'KHR': 4205.5714,
 'KID': 1.6485,
 'KMF': 491.9678,
 'KRW': 1511.984,
 'KWD': 0.3234,
 'KYD': 0.8735,
 'KZT': 521.5807,
 'LAK': 22929.3605,
 'LBP': 93817.2302,
 'LKR': 310.1661,
 'LRD': 208.9928,
 'LSL': 19.2975,
 'LYD': 5.1482,
 'MAD': 10.4402,
 'MDL': 19.6089,
 'MGA': 4834.9276,
 'MKD': 61.495,
 'MMK': 2991.5325,
 'MNT': 3605.6898,
 'MOP': 8.3988,
 'MRU': 41.9413,
 'MUR': 48.3119,
 'MVR': 16.1999,
 'MWK': 1827.8588,
 'MXN': 21.2816,
 'MYR': 4.6472,
 'MZN': 67.0706,
 'NAD': 19.2975,
 'NGN': 1584.6018,
 'NIO': 38.5554,
 'NOK': 11.6449,
 'NPR': 145.6338,
 'NZD': 1.8285,
 'OMR': 0.403,
 'PAB': 1.0482,
 'PEN': 3.8836,
 'PGK': 4.2096,
 'PHP': 60.7963,
 'PKR': 292.4608,
 'PLN': 4.16,
 'PYG': 8266.9641,
 'QAR': 3.8156,
 'RON': 4.9774,
 'RSD': 117.136,
 'RUB': 95.9032,
 'RWF': 1498.0103,
 'SAR': 3.9309,
 'SBD': 9.054,
 'SCR': 15.507,
 'SDG': 469.3174,
 'SEK': 11.2142,
 'SGD': 1.4057,
 'SHP': 0.8312,
 'SLE': 23.9804,
 'SLL': 23979.4018,
 'SOS': 599.6833,
 'SRD': 37.2003,
 'SSP': 4611.2859,
 'STN': 24.5,
 'SYP': 13551.2695,
 'SZL': 19.2975,
 'THB': 35.3278,
 'TJS': 11.4889,
 'TMT': 3.6687,
 'TND': 3.3175,
 'TOP': 2.4952,
 'TRY': 37.9985,
 'TTD': 8.0926,
 'TVD': 1.6485,
 'TWD': 34.2908,
 'TZS': 2724.6771,
 'UAH': 43.529,
 'UGX': 3860.1421,
 'USD': 1.0483,
 'UYU': 45.413,
 'UZS': 13588.9042,
 'VES': 65.0913,
 'VND': 26759.9227,
 'VUV': 128.6395,
 'WST': 2.9111,
 'XAF': 655.957,
 'XCD': 2.8302,
 'XDR': 0.7999,
 'XOF': 655.957,
 'XPF': 119.332,
 'YER': 259.7937,
 'ZAR': 19.2991,
 'ZMW': 29.568,
 'ZWL': 27.7475}

In [5]:
# Function to convert prices
def convert_to_eur(row):
    currency = row['currency']
    price = row['price']
    
    if currency in exchange_rates:
        return price / exchange_rates[currency]
    else:
        return None  # Keep None if currency is missing in exchange rates

# Apply conversion
df2['price_eur'] = df2.apply(convert_to_eur, axis=1)

In [9]:
df2 = df2.drop(columns=['url', 'image_url'])
df2.head()

,brand,collection,reference_code,country,life_span_date,category,scrapping_date,price_eur
0,Boucheron,ANIMAUX DE COLLECTION,WA017308,United Arab Emirates,2025-01-28 00:00:00,Watches,2025-01-06,53770.423669
1,Boucheron,ANIMAUX DE COLLECTION,WA017305,United Arab Emirates,2025-01-28 00:00:00,Watches,2025-01-06,72213.419227
2,Boucheron,ANIMAUX DE COLLECTION,WA021436,United Arab Emirates,2025-01-28 00:00:00,Watches,2025-01-06,82084.318259
3,Boucheron,ANIMAUX DE COLLECTION,WA021410,United Arab Emirates,2025-01-28 00:00:00,Watches,2025-01-06,82084.318259
4,Boucheron,ANIMAUX DE COLLECTION,WA021435,United Arab Emirates,2025-01-28 00:00:00,Watches,2025-01-06,82084.318259